<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/page-dashboard-al/style.css">
    <title>FP dashboard</title>
</head>
<body>
    <header>
        <img src="static/css/page-dashboard-al/Logo.png" alt="" class="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="{{url_for('cadastro')}}">Inicio</a></li>
                <li><a href="{{url_for('contatos')}}">Contatos</a></li>
                <li><a href="{{url_for('sobre')}}">Sobre</a></li>

            </ul>
        </nav>
        <div class="usuario-var">
            <p>Olá {{nome}}</p>
        </div>
        <h1>
            {% for i in massa %}
                <li>{{ i }}</li>

            {% endfor %}
        </h1>
    </header>

    <div class="board-1">
        <div class="card">
            <div class="card-icon">
                <img src="static/css/page-dashboard-al/documento.png" alt="">
            </div>
            <div class="card-info">
                <label for="nome">Fichas</label>
                <div class="ficha-button">
                    <button><a href="{{url_for('ficha_al')}}">ver</a></button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-icon">
                <img src="static/css/page-dashboard-al/imc.png" alt="">
            </div>
            <div class="card-info">
                <label for="nome">IMC</label>
                <p>22.3</p>
            </div>
        </div>

        <div class="card">
            <div class="card-icon">
                <img src="static/css/page-dashboard-al/gordura.png" alt="">
            </div>
            <div class="card-info">
                <label for="nome">BF</label>
                <p>1500</p>
            </div>
        </div>

        <div class="card">
            <div class="card-icon">
                <img src="static/css/page-dashboard-al/kettlebell.png" alt="">
            </div>
            <div class="card-info">
                <label for="nome">Massa</label>
                <p>66Kg</p>
            </div>
        </div>

        <div class="card">
            <div class="card-icon">
                <img src="static/css/page-dashboard-al/altura.png" alt="">
            </div>
            <div class="card-info">
                <label for="nome">Altura</label>
                <p>1.70</p>
            </div>
        </div>
        <!--
        <div class="card">
            <div class="card-icon">
                <img src="Logo.png" alt="">
            </div>
            <div class="card-info">
                <label for="nome">Dica</label>
                <p>Você sabia que para crecer tem que postar foto no espelho da academia com a legenda ta pago.</p>
            </div>
        </div>
        -->
    </div>

    <div class="board-2">

    </div>
</body>
</html>