<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/page-es/style.css">
    <title>FP E/S</title>
</head>
<body>
    <header>
        <img src="static/css/page-es/Logo.png" alt="" class="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="{{url_for('cadastro')}}">Inicio</a></li>
                <li><a href="{{url_for('ficha_fu')}}">Fichas</a></li>
                <li><a href="{{url_for('dash_fu')}}">Voltar</a></li>
            </ul>
        </nav>
        <div class="usuario-var">
            <p>Olá usuario</p>
        </div>
    </header>

    <div class="board-1">
        <div class="acesso">
            <h1>Registrar entrada e saida</h1>
            <div class="input-box">
                <label for="codigo-aluno">Código do aluno</label>
                <input id="codigo-aluno" type="text" name="codigo-aluno" placeholder="código" required>
                <!--
                    <div class="login-button">
                        <button><a href="#"></a></button>
                    </div>
                -->
            </div>

        </div>

        <div class="card1">
            <div class="card-icon">
                <img src="static/css/page-es/seta-direita.png" alt="">
            </div>
            <div class="card-info">
                <label for="nome">Entrada</label>
                <div class="ficha-button">
                    <button><a href="#">Registrar</a></button>
                </div>
            </div>
        </div>

        <div class="card2">
            <div class="card-icon">
                <img src="static/css/page-es/seta-esquerda.png" alt="">
            </div>
            <div class="card-info">
                <label for="nome">Saida</label>
                <div class="ficha-button">
                    <button><a href="#">Registrar</a></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>