<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/page-ficha-fu/style.css">
    <title>FP fichas</title>
</head>
<body>
    <header>
        <img src="static/css/page-ficha-fu/Logo.png" alt="" class="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="{{url_for('cadastro')}}">Inicio</a></li>
                <li><a href="{{url_for('es')}}">Visitas</a></li>
                <li><a href="{{url_for('dash_fu')}}">Voltar</a></li>
            </ul>
        </nav>
        <div class="usuario-var">
            <p>Olá usuario</p>
        </div>
    </header>

    <div class="container">
        <div class="form">
            <form action="{{url_for('ficha_fu')}}" method="POST">
                <div class="form-header">
                    <div class="title">
                        <h1>Avaliação física</h1>
                    </div>
                </div>
                    <div class="input-group">
                        <div class="input-box">
                            <label for="codigo-aluno">Código do aluno</label>
                            <input id="codigo-aluno" type="text" name="codigo-aluno" placeholder="Código" required>
                        </div>

                        <div class="input-box">
                            <label for="data">Data</label>
                            <input id="data" type="date" name="data" placeholder="Data" required>
                        </div>

                        <div class="input-box">
                            <label for="massa">Massa</label>
                            <input id="massa" type="text" name="massa" placeholder="Massa" required>
                        </div>

                        <div class="input-box">
                            <label for="estatura">Estatura</label>
                            <input id="estatura" type="text" name="estatura" placeholder="Estatura" required>
                        </div>

                        <div class="input-box">
                            <label for="coxa-proximal-direita">Coxa proximal direita</label>
                            <input id="coxa-proximal-direita" type="text" name="coxa-proximal-direita" placeholder="Coxa proximal direita" required>
                        </div>

                        <div class="input-box">
                            <label for="coxa-proximal-esquerda">Coxa proximal esquerda</label>
                            <input id="coxa-proximal-esquerda" type="text" name="coxa-proximal-esquerda" placeholder="Coxa proximal esquerda" required>
                        </div>

                        <div class="input-box">
                            <label for="coxa-media-direita">Coxa média direita</label>
                            <input id="coxa-media-direita" type="text" name="coxa-media-direita" placeholder="Coxa média direita" required>
                        </div>

                        <div class="input-box">
                            <label for="coxa-media-esquerda">Coxa média esquerda</label>
                            <input id="coxa-media-esquerda" type="text" name="coxa-media-esquerda" placeholder="Coxa média esquerda" required>
                        </div>

                        <div class="input-box">
                            <label for="coxa-distal-direita">Coxa distal direita</label>
                            <input id="coxa-distal-direita" type="text" name="coxa-distal-direita" placeholder="Coxa distal direita" required>
                        </div>

                        <div class="input-box">
                            <label for="coxa-distal-esquerda">Coxa distal esquerda</label>
                            <input id="coxa-distal-esquerda" type="text" name="coxa-distal-esquerda" placeholder="Coxa distal esquerda" required>
                        </div>

                        <div class="input-box">
                            <label for="quadril">Quadril</label>
                            <input id="quadril" type="text" name="quadril" placeholder="Quadril" required>
                        </div>

                        <div class="input-box">
                            <label for="abdomen">Abdômen</label>
                            <input id="abdomen" type="text" name="abdomen" placeholder="Abdômen" required>
                        </div>

                        <div class="input-box">
                            <label for="torax">Toráx</label>
                            <input id="torax" type="text" name="torax" placeholder="Toráx" required>
                        </div>

                        <div class="input-box">
                            <label for="cintura">Cintura</label>
                            <input id="cintura" type="text" name="cintura" placeholder="Cintura" required>
                        </div>

                        <div class="input-box">
                            <label for="braco-direito-relaxado">Braço direito relaxado</label>
                            <input id="braco-direito-relaxado" type="text" name="braco-direito-relaxado" placeholder="Braço direito relaxado" required>
                        </div>

                        <div class="input-box">
                            <label for="braco-esquerdo-relaxado">Braço esquerdo relaxado</label>
                            <input id="braco-esquerdo-relaxado" type="text" name="braco-esquerdo-relaxado" placeholder="Braço esquerdo relaxado" required>
                        </div>

                        <div class="input-box">
                            <label for="braco-direito-contraido">Braço direito contraído</label>
                            <input id="braco-direito-contraido" type="text" name="braco-direito-contraido" placeholder="Braço direito contraído" required>
                        </div>

                        <div class="input-box">
                            <label for="braco-esquerdo-contraido">Braço esquerdo contraído</label>
                            <input id="braco-esquerdo-contraido" type="text" name="braco-esquerdo-contraido" placeholder="Braço esquerdo contraído" required>
                        </div>

                        <div class="input-box">
                            <label for="antebraco-direito">Antebraço direito</label>
                            <input id="antebraco-direito" type="text" name="antebraco-direito" placeholder="Antebraco direito" required>
                        </div>

                        <div class="input-box">
                            <label for="antebraco-esquerdo">Antebraço esquerdo</label>
                            <input id="antebraco-esquerdo" type="text" name="antebraco-esquerdo" placeholder="Antebraco esquerdo" required>
                        </div>

                        <div class="input-box">
                            <label for="panturrilha-direita">Panturrilha direita</label>
                            <input id="panturrilha-direita" type="text" name="panturrilha-direita" placeholder="Panturrilha direita" required>
                        </div>

                        <div class="input-box">
                            <label for="panturrilha-esquerda">Panturrilha esquerda</label>
                            <input id="panturrilha-esquerda" type="text" name="panturrilha-esquerda" placeholder="Panturrilha esquerda" required>
                        </div>

                        <div class="input-box">
                            <label for="resistencia-abdominal">Resistência abdominal</label>
                            <input id="resistencia-abdominal" type="text" name="resistencia-abdominal" placeholder="Resistência abdominal" required>
                        </div>

                        <div class="input-box">
                            <label for="resistencia-braquio-peitoral">Resistência bráquio-peitoral</label>
                            <input id="resistencia-braquio-peitoral" type="text" name="resistencia-braquio-peitoral" placeholder="Resistência bráquio-peitoral" required>
                        </div>

                </div>

                <div class="login-button">
                    <button><a href="#">Salvar</a></button>
                </div>
            </form>
        </div>
    </div>
    
    
</body>
</html>