<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/page-ficha-al/style.css">
    <title>FP fichas</title>
</head>
<body>
    <header>
        <img src="static/css/page-ficha-al/Logo.png" alt="" class="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="{{url_for('cadastro')}}">Inicio</a></li>
                <li><a href="{{url_for('contatos')}}">Contatos</a></li>
                <li><a href="{{url_for('sobre')}}">Sobre</a></li>
                <li><a href="{{url_for('dash_al')}}">Voltar</a></li>
            </ul>
        </nav>
        <div class="usuario-var">
            <p>Olá usuario</p>
        </div>
    </header>

    <div class="container">
        
        <div class="ficha">
            <div class="acesso">
                <div class="title">
                    <h1>Avaliação física</h1>
                </div>
        
                <div class="input-box">
                    <label for="data">Acessar ficha</label>
                    <input id="data" type="date" name="data" placeholder="Data" required>
                    <div class="login-button">
                        <button><a href="#">acessar</a></button>
                    </div>
                </div>
            </div>
    
            <div class="tabela">
                <table>

                    <tr>
                        <td>Coxa Proximal Direita</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Coxa Proximal esquerda</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Coxa Média Direita</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Coxa Média Esquerda</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Coxa Distal Direita</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Coxa Distal Esquerda</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Panturrilha Direita</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Panturrilha esquerda</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Quadril</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Cintura</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Abdômen</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>toráx</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Braço direito Contraído</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Braço Esquerdo Contraído</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Braço Direito Relaxado</td>
                        <td style="text-align:right">X cm</td>
                    </tr>
                    
                    <tr>
                        <td>Braço Esquerdo Relaxado</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Antebraço Direito</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Antebraço Esquerdo</td>
                        <td style="text-align:right">X cm</td>
                    </tr>

                    <tr>
                        <td>Resistência abdominal</td>
                        <td style="text-align:right">X rep</td>
                    </tr>

                    <tr>
                        <td>Resistência bráquio-peitoral</td>
                        <td style="text-align:right">X rep</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</body>
</html>