<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/page-inicio/style.css">
    <title>FP Inicio</title>
</head>
<body>
    <header>
        <img src="static/css/page-inicio/Logo.png" alt="" class="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Contatos</a></li>
                <li><a href="#">Sobre</a></li>
            </ul>
        </nav>
        <div class="login-button">
            <button><a href="#">Cadastre-se</a></button>
        </div>
    </header>

    <div class="main-login">
        <div class="left-login">
            <img src="static/css/page-inicio/Gym-pana.svg" class="left-login-image " alt="academia">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>Mude seu corpo<br>e tenha mais saúde</h1>
                <button class="btn-login"><a href="#">Cadastre-se</a></button>
            </div>
        </div>
    </div>
</body>
</html>