<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/page-login/style.css">
    <title>FP Login</title>
</head>
<body>
    <header>
        <img src="static/css/page-login/Logo.png" alt="" class="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="{{url_for('cadastro')}}">Inicio</a></li>
                <li><a href="{{url_for('contatos')}}">Contatos</a></li>
                <li><a href="{{url_for('sobre')}}">Sobre</a></li>
            </ul>
        </nav>
        <div class="login-button">
            <button><a href="{{url_for('cadastro')}}">Cadastre se</a></button>
        </div>
    </header>

    <div class="main-login">
        <div class="left-login">
            <h1>Faça login<br>e fique no shape em pleno 2022</h1>
            <img src="static/css/page-login/fitness-tracker-animate.svg" class="left-login-image " alt="pessoa-na-esteira">
        </div>
        <div class="right-login">
            <div class="card-login">
                <form action="{{url_for('login')}}" method="POST">
                    <h1>LOGIN</h1>
                    <div class="textfield">
                        <label for="usuario">Usuário</label>
                        <input type="text" name="usuario" placeholder="Usuário" required>
                    </div>
                    <div class="textfield">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" placeholder="Senha" required>
                    </div>
                    <button class="btn-login">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>